@model List<hackathon_project.Models.OrderPool>

<h2>Sipariş Havuzları</h2>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Başlık</th>
            <th>Restoran</th>
            <th>Yurt</th>
            <th>Mevcut Tutar</th>
            <th>Minimum Tutar</th>
            <th>Kalan</th>
            <th>Durum</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            var kalan = item.Restaurant.MinimumOrderAmount - item.CurrentAmount;

            <tr>
                <td>@item.Title</td>
                <td>@item.Restaurant.Name</td>
                <td>@item.Dormitory</td>
                <td>@item.CurrentAmount TL</td>
                <td>@item.Restaurant.MinimumOrderAmount TL</td>
                <td>@kalan TL</td>
                <td>@item.Status</td>
            </tr>
        }

    </tbody>

</table>